DATABASE_URL="postgresql://oso:oso_dev_password@localhost:5432/ohm_sweet_ohm?schema=public"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="replace-with-at-least-32-random-characters"
OSO_DEV_USER_PASSWORD="ohm-sweet-ohm-owner"
